include requirements.txt
include prepare.sh
include phemex_futures_price_download.sh
include kucoin_spot_price_download.sh
include logger.conf
include config.yaml
include data/phemex_futures.csv
include data/kucoin_spot.csv
include data/binance_spot.csv