include requirements.txt
include logger.conf
include config.yaml
include prepare.sh

include data/*
include images/*

include phemex_futures_price_download.sh
include kucoin_spot_price_download.sh
include binance_spot_price_download.sh
include okx_spot_price_download.sh
include simplefx_cfd_price_download.sh